applications:
  openstack-dashboard:
    options:
        vip: '{{ OS_VIP00 }}'
relations:
- - openstack-dashboard:certificates
  - vault:certificates
- - keystone:certificates
  - vault:certificates
saas:
  vault:
    url: admin/{{ vault }}.vault
